@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 43% 93%;
    --foreground: 223 10% 20%;
    --card: 225 50% 98%;
    --card-foreground: 223 10% 20%;
    --popover: 225 50% 98%;
    --popover-foreground: 223 10% 20%;
    --primary: 223 49% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 225 30% 88%;
    --secondary-foreground: 223 10% 20%;
    --muted: 225 30% 88%;
    --muted-foreground: 223 10% 45%;
    --accent: 30 96% 44%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 20% 80%;
    --input: 225 20% 85%;
    --ring: 223 49% 30%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 223 30% 10%;
    --foreground: 225 30% 90%;
    --card: 223 30% 12%;
    --card-foreground: 225 30% 90%;
    --popover: 223 30% 12%;
    --popover-foreground: 225 30% 90%;
    --primary: 223 49% 70%;
    --primary-foreground: 223 10% 10%;
    --secondary: 223 30% 20%;
    --secondary-foreground: 225 30% 90%;
    --muted: 223 30% 20%;
    --muted-foreground: 225 30% 60%;
    --accent: 30 96% 64%;
    --accent-foreground: 223 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 30% 25%;
    --input: 223 30% 25%;
    --ring: 223 49% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
